RewriteEngine on

RewriteRule ^(index|contact|register|login|posts|categories|includes/logout)$ $1.php [NC,L]

RewriteRule ^(admin/index|admin/users|admin/posts|admin/categories|admin/comments)$ $1.php [NC,L]

RewriteRule ^posts/(\d+)$ posts.php?post_id=$1 [NC,L]

RewriteRule ^categories/(\d+)$ categories.php?category_id=$1 [NC,L]

RewriteRule ^authors/(\d+)$ authors.php?author_id=$1 [NC,L]



